@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.App {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(192, 191, 193, 0.766);
}

.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > h1 {
  margin-bottom: 30px;
}


.form > input,
textarea {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

botton {
  font-family: "inter",sans-serif;
  color: aliceblue;
}

.banner {
  margin-top: 50px;
  /* padding: 80px; */
  /* min-height: 60px; */
  background-color: gray;
  border-radius: 1%;
}
/* .banner-text{
  margin: 40px;
} */